* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background-color: black;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1;
    background-color: black;
}
nav ul {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.container .left .img1 {
  position: absolute;
  width: 388px;
  height: 32px;
  top: 253px;
  left: 145px;
}
.container .left h1 {
  position: absolute;
  width: 670px;
  height: 303px;
  top: 301px;
  left: 135.41px;
  font-size: 72px;
  font-weight: 600;
  line-height: 101px;
  letter-spacing: 0.01em;
  text-align: left;
}

.container .left p {
  position: absolute;
  width: 483px;
  height: 93px;
  top: 644px;
  left: 136px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.container .left .img2 {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 313px;
  left: 605px;
}

.container .right .box {
  border-radius: 200px;
  position: absolute;
  width: 101px;
  height: 101px;
  top: 127px;
  left: 879px;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.container .right .img1 {
  position: absolute;
  top: 175px;
  left: 900px;

  box-shadow: 4px 22px 40px 0px rgba(0, 0, 0, 0.25);
}

.container .right .img2 {
  position: absolute;
  top: 250px;
  left: 850px;
  box-shadow: 0px 9px 70px 0px rgba(0, 0, 0, 0.25);
}
.container .right .img3 {
  position: absolute;
  top: 409px;
  left: 1000px;
  border-radius: 20px;
  border: 1px;
}
.container .right .img4 {
  position: absolute;
  width: 669px;
  height: 444px;
  top: 357px;
  left: 850px;
}
.container .right .img5 {
  position: absolute;
  width: 840px;
  height: 700px;
  top: 73px;
  left: 670px;
  border: 1px;
}
.container .right .box1 {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 498px;
  left: 1352px;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 200px;
}
.container .right .box2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 568px;
  left: 958px;
  border-radius: 200px;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.container1 .text {
  position: absolute;
  width: 126.09px;
  height: 52.82px;
  top: 880px;
  left: 153.19px;
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
}
.container1 .text1 {
  position: absolute;
  width: 122.68px;
  height: 27.26px;
  top: 893.63px;
  left: 304.84px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}
.container1 .line {
  position: absolute;
  width: 13.63px;
  top: 900.45px;
  left: 480.33px;
  border: 1.7px;
  rotate: -90deg;
  background: rgba(255, 255, 255, 0.6);
  border: 1.7px solid rgba(255, 255, 255, 0.6);
}
.container1 .text2 {
  position: absolute;
  width: 97.12px;
  height: 52.82px;
  top: 880px;
  left: 531.45px;
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
}
.container1 .text3 {
  position: absolute;
  width: 219.8px;
  height: 27.26px;
  top: 893.63px;
  left: 654.13px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}
.container .line1 {
  position: absolute;
  width: 13.63px;
  top: 900.45px;
  left: 928.45px;
  border: 1.7px;
  rotate: -90deg;
  background: rgba(255, 255, 255, 0.6);
  border: 1.7px solid rgba(255, 255, 255, 0.6);
}
.container1 .text4 {
  position: absolute;
  width: 158.46px;
  height: 52.82px;
  top: 880px;
  left: 979.56px;
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
}

.container1 .text5 {
  position: absolute;
  width: 138.01px;
  height: 27.26px;
  top: 893.63px;
  left: 1166.99px;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}
.container3 .left h1{
    position: absolute;
    width: 622px;
height: 154px;
top: 1113px;
left: 135px;
font-size: 48px;
font-weight: 600;
line-height: 77px;
letter-spacing: 0.01em;
text-align: left;


}
.container3 .left p{
    position: absolute;
    width: 570px;
height: 93px;
top: 1291px;
left: 135px;
font-size: 18px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(255, 255, 255, 0.7);



}

.container3 .right .img1{
    position: absolute;
    width: 64px;
height: 64px;
top: 1148px;
left: 855px;

}
.container3 .right .img2{
    position: absolute;
    width: 64px;
height: 64px;
top: 1283px;
left: 855px;

}
.container3 .right .img3{
    position: absolute;
    width: 64px;
height: 64px;
top: 1418px;
left: 855px;

}
.container3 .right .text1{
    position: absolute;
    width: 81px;
height: 23px;
top: 1143px;
left: 939px;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.01em;
text-align: left;


}

.container3 .right .text2{
    position: absolute;
    width: 366px;
height: 48px;
top: 1174px;
left: 939px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 0.7);



}
.container3 .right .text3{
    position: absolute;
    width: 150px;
height: 23px;
top: 1278px;
left: 939px;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.01em;
text-align: left;


}
.container3 .right .text4{
    position: absolute;
    width: 366px;
height: 48px;
top: 1309px;
left: 939px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 0.7);


}
.container3 .right .text5{
    position: absolute;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.01em;
text-align: left;

width: 158px;
height: 23px;
top: 1413px;
left: 939px;

}
.container3 .right .text6{
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    width: 346px;
height: 48px;
top: 1444px;
left: 939px;

}
.container3 .right .box{
    position: absolute;
    width: 470px;
height: 115px;
top: 1258px;
left: 835px;
border-radius: 20px;
background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);


}
.container4 .left .img1{
    position: absolute;
    width: 227px;
height: 216px;
top: 1656px;
left: 360px;
border-radius: 10px;

}
.container4 .left .img2{
    position: absolute;
    width: 335px;
height: 280px;
top: 1809px;
left: 135px;
border-radius: 9.12px;

}
.container4 .right .text1{
    position: absolute;
    width: 470px;
height: 154px;
top: 1704px;
left: 835px;
font-size: 48px;
font-weight: 600;
line-height: 77px;
letter-spacing: 0.01em;
text-align: left;


}
.container4 .right .text2{
    position: absolute;
    width: 470px;
height: 87px;
top: 1882px;
left: 835px;
font-size: 18px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0.01em;
text-align: left;
color: rgba(255, 255, 255, 0.7);



}

.container4 .right .img1{
    position: absolute;
    width: 128.86px;
height: 42.05px;
top: 2017px;
left: 835px;

}
.container4 .right .img2{
    position: absolute;
    width: 144.17px;
height: 43.04px;
top: 2018px;
left: 996px;

}

.container5 .left .text1{
    position: absolute;
    width: 570px;
height: 154px;
top: 2290.88px;
left: 135px;
font-size: 48px;
font-weight: 600;
line-height: 77px;
letter-spacing: 0.01em;
text-align: left;


}
.container5 .left .text2{
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: left;

    width: 500px;
height: 93px;
top: 2468.88px;
left: 135px;

}
.container5 .left button{
    position: absolute;
    width: 170px;
    height: 64px;
    top: 2578.88px;
    left: 135px;
    border-radius: 10px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);

    
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
padding-left: 26px;
color: black;



}
.container5 .right .img{
    position: absolute;
    width: 191px;
height: 158px;
top: 2349.88px;
left: 792px;

}
.container5 .right .img1{
    position: absolute;
    width: 256px;
height: 238px;
top: 2309.88px;
left: 1049px;

}
.container5 .right .img2{
    position: absolute;
    width: 262px;
height: 140px;
top: 2580.88px;
left: 893px;

}
.container6 .text{
    position: absolute;
    width: 470px;
height: 164px;
top: 2891px;
left: 135px;
font-size: 48px;
font-weight: 600;
line-height: 82px;
letter-spacing: 0em;
text-align: left;

}
.container6 .text1{
    position: absolute;
    background: rgba(255, 255, 255, 0.7);

font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.01em;
text-align: left;
width: 450px;
height: 64px;
top: 2945px;
left: 734px;


}
.container6 .text2{
    position: absolute;
}
.container6 .text3{
    position: absolute;
}
.container6 .text4{
    position: absolute;
}
.container6 .text5{
    position: absolute;
}
.container6 .text6{
    position: absolute;
}
.container6 .text7{
    position: absolute;
}
.container6 .text8{
    position: absolute;
}
.container6 .text9{
    position: absolute;
}
.container6 .text10{
    position: absolute;
}