* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background-color: black;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
}
nav ul {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
.container .left .img1 {
  position: absolute;
  width: 388px;
  height: 32px;
  top: 253px;
  left: 145px;
}
.container .left h1 {
  position: absolute;
  width: 670px;
  height: 303px;
  top: 301px;
  left: 135.41px;
  font-size: 72px;
  font-weight: 600;
  line-height: 101px;
  letter-spacing: 0.01em;
  text-align: left;
}

.container .left p {
  position: absolute;
  width: 483px;
  height: 93px;
  top: 644px;
  left: 136px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.container .left .img2 {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 313px;
  left: 605px;
}

.container .right .box {
  border-radius: 200px;
  position: absolute;
  width: 101px;
  height: 101px;
  top: 127px;
  left: 879px;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.container .right .img1 {
  position: absolute;
  top: 175px;
  left: 900px;

  box-shadow: 4px 22px 40px 0px rgba(0, 0, 0, 0.25);
}

.container .right .img2 {
  position: absolute;
  top: 250px;
  left: 850px;
  box-shadow: 0px 9px 70px 0px rgba(0, 0, 0, 0.25);
}
.container .right .img3 {
  position: absolute;
  top: 409px;
  left: 1000px;
  border-radius: 20px;
  border: 1px;
}
.container .right .img4 {
  position: absolute;
  width: 669px;
  height: 444px;
  top: 357px;
  left: 850px;
}
.container .right .img5 {
  position: absolute;
  width: 840px;
  height: 700px;
  top: 73px;
  left: 670px;
  border: 1px;
}
.container .right .box1 {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 498px;
  left: 1352px;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 200px;
}
.container .right .box2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 568px;
  left: 958px;
  border-radius: 200px;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.container1 .text {
  position: absolute;
  width: 126.09px;
  height: 52.82px;
  top: 880px;
  left: 153.19px;
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
}
.container1 .text1 {
  position: absolute;
  width: 122.68px;
  height: 27.26px;
  top: 893.63px;
  left: 304.84px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}
.container1 .line {
  position: absolute;
  width: 13.63px;
  top: 900.45px;
  left: 480.33px;
  border: 1.7px;
  rotate: -90deg;
  background: rgba(255, 255, 255, 0.6);
  border: 1.7px solid rgba(255, 255, 255, 0.6);
}
.container1 .text2 {
  position: absolute;
  width: 97.12px;
  height: 52.82px;
  top: 880px;
  left: 531.45px;
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
}
.container1 .text3 {
  position: absolute;
  width: 219.8px;
  height: 27.26px;
  top: 893.63px;
  left: 654.13px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}
.container .line1 {
  position: absolute;
  width: 13.63px;
  top: 900.45px;
  left: 928.45px;
  border: 1.7px;
  rotate: -90deg;
  background: rgba(255, 255, 255, 0.6);
  border: 1.7px solid rgba(255, 255, 255, 0.6);
}
.container1 .text4 {
  position: absolute;
  width: 158.46px;
  height: 52.82px;
  top: 880px;
  left: 979.56px;
  font-size: 41px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0px;
  text-align: left;
}

.container1 .text5 {
  position: absolute;
  width: 138.01px;
  height: 27.26px;
  top: 893.63px;
  left: 1166.99px;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}
.container3 .left h1 {
  position: absolute;
  width: 622px;
  height: 154px;
  top: 1113px;
  left: 135px;
  font-size: 48px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-align: left;
}
.container3 .left p {
  position: absolute;
  width: 570px;
  height: 93px;
  top: 1291px;
  left: 135px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.container3 .right .img1 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1148px;
  left: 855px;
}
.container3 .right .img2 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1283px;
  left: 855px;
}
.container3 .right .img3 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 1418px;
  left: 855px;
}
.container3 .right .text1 {
  position: absolute;
  width: 81px;
  height: 23px;
  top: 1143px;
  left: 939px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
}

.container3 .right .text2 {
  position: absolute;
  width: 366px;
  height: 48px;
  top: 1174px;
  left: 939px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.container3 .right .text3 {
  position: absolute;
  width: 150px;
  height: 23px;
  top: 1278px;
  left: 939px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
}
.container3 .right .text4 {
  position: absolute;
  width: 366px;
  height: 48px;
  top: 1309px;
  left: 939px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
.container3 .right .text5 {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;

  width: 158px;
  height: 23px;
  top: 1413px;
  left: 939px;
}
.container3 .right .text6 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  width: 346px;
  height: 48px;
  top: 1444px;
  left: 939px;
}
.container3 .right .box {
  position: absolute;
  width: 470px;
  height: 115px;
  top: 1258px;
  left: 835px;
  border-radius: 20px;
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
.container4 .left .img1 {
  position: absolute;
  width: 227px;
  height: 216px;
  top: 1656px;
  left: 360px;
  border-radius: 10px;
}
.container4 .left .img2 {
  position: absolute;
  width: 335px;
  height: 280px;
  top: 1809px;
  left: 135px;
  border-radius: 9.12px;
}
.container4 .right .text1 {
  position: absolute;
  width: 470px;
  height: 154px;
  top: 1704px;
  left: 835px;
  font-size: 48px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-align: left;
}
.container4 .right .text2 {
  position: absolute;
  width: 470px;
  height: 87px;
  top: 1882px;
  left: 835px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.container4 .right .img1 {
  position: absolute;
  width: 128.86px;
  height: 42.05px;
  top: 2017px;
  left: 835px;
}
.container4 .right .img2 {
  position: absolute;
  width: 144.17px;
  height: 43.04px;
  top: 2018px;
  left: 996px;
}

.container5 .left .text1 {
  position: absolute;
  width: 570px;
  height: 154px;
  top: 2290.88px;
  left: 135px;
  font-size: 48px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0.01em;
  text-align: left;
}
.container5 .left .text2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-align: left;

  width: 500px;
  height: 93px;
  top: 2468.88px;
  left: 135px;
}
.container5 .left button {
  position: absolute;
  width: 170px;
  height: 64px;
  top: 2578.88px;
  left: 135px;
  border-radius: 10px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 26px;
  color: black;
}
.container5 .right .img {
  position: absolute;
  width: 191px;
  height: 158px;
  top: 2349.88px;
  left: 792px;
}
.container5 .right .img1 {
  position: absolute;
  width: 256px;
  height: 238px;
  top: 2309.88px;
  left: 1049px;
}
.container5 .right .img2 {
  position: absolute;
  width: 262px;
  height: 140px;
  top: 2580.88px;
  left: 893px;
}
.container6 .text {
  position: absolute;
  width: 470px;
  height: 164px;
  top: 2891px;
  left: 135px;
  font-size: 48px;
  font-weight: 600;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: left;
}
.container6 .text2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);

  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 450px;
  height: 64px;
  top: 2945px;
  left: 734px;
}

.container6 .img1 {
  position: absolute;
  width: 42.6px;
  height: 27.6px;
  top: 3195px;
  left: 175.4px;
}
.container6 .img2 {
  position: absolute;
  width: 42.6px;
  height: 27.6px;
  top: 3195px;
  left: 575.4px;
}
.container6 .img3 {
  position: absolute;
  width: 42.6px;
  height: 27.6px;
  top: 3195px;
  left: 975.4px;
}
.container6 .img4 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 3420px;
  left: 175px;
}
.container6 .img5 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 3420px;
  left: 575px;
}
.container6 .img6 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 3420px;
  left: 975px;
}
.container6 .text3 {
  position: absolute;
  width: 290px;
  height: 128px;
  top: 3263px;
  left: 175px;

  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}
.container6 .text4 {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;

  width: 290px;
  height: 96px;
  top: 3263px;
  left: 575px;
}
.container6 .text5 {
  position: absolute;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 290px;
  height: 128px;
  top: 3263px;
  left: 975px;
}
.container6 .text6 {
  position: absolute;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 158px;
  height: 32px;
  top: 3415px;
  left: 239px;
}
.container6 .text7 {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 141px;
  height: 24px;
  top: 3446px;
  left: 239px;
  opacity: 0.5px;
}
.container6 .text8 {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 109px;
  height: 32px;
  top: 3415px;
  left: 639px;
}
.container6 .text9 {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 140px;
  height: 24px;
  top: 3446px;
  left: 639px;
  opacity: 0.5px;
}
.container6 .text10 {
  position: absolute;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 154px;
  height: 32px;
  top: 3415px;
  left: 1039px;
}
.container6 .text11 {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 140px;
  height: 24px;
  top: 3446px;
  left: 1039px;
  opacity: 0.5px;
}
.container6 .box {
  position: absolute;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  width: 370px;
  height: 395px;
  top: 3135px;
  left: 135px;
  border-radius: 20px;
  z-index: -1;
}
.container7 .img1 {
  position: absolute;
  width: 192.25px;
  height: 60px;
  top: 3630px;
  left: 187.41px;
}
.container7 .img2 {
  position: absolute;
  width: 192.25px;
  height: 38.64px;
  top: 3641px;
  left: 479.66px;
}
.container7 .img3 {
  position: absolute;
  width: 189px;
  height: 41.25px;
  top: 3635.02px;
  left: 771.92px;
}
.container7 .img4 {
  position: absolute;
  width: 138.97px;
  height: 32.16px;
  top: 3649.29px;
  left: 1114.2px;
}
.container8 .text1 {
  position: absolute;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  width: 670px;
  height: 67px;
  top: 3862px;
  left: 232px;
}
.container8 .text2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 445px;
  height: 58px;
  top: 3953px;
  left: 232px;
}
.container8 button {
  position: absolute;
  width: 170px;
  height: 64px;
  top: 3913px;
  left: 1035px;
  border-radius: 10px;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.box {
  z-index: -1;
  position: absolute;
  width: 1170px;
  height: 293px;
  top: 3790px;
  left: 130px;
  border-radius: 20px;
  rotate: -180deg;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
footer .img {
  position: absolute;
  width: 266px;
  height: 72.14px;
  top: 4237px;
  left: 135px;
}
footer .text {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 312px;
  height: 64px;
  top: 4340px;
  left: 160px;
}
footer .text1 {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  width: 108px;
  height: 27px;
  top: 4237px;
  left: 611px;
}
footer .text2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  width: 65px;
  height: 24px;
  top: 4288px;
  left: 612px;
}
footer .text3 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 101px;
  height: 24px;
  top: 4324px;
  left: 612px;
}
footer .text4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 56px;
  height: 24px;
  top: 4360px;
  left: 612px;
}
footer .text5 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 58px;
  height: 24px;
  top: 4396px;
  left: 612px;
}
footer .text6 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 135px;
  height: 24px;
  top: 4432px;
  left: 612px;
}
footer .text7 {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  width: 109px;
  height: 27px;
  top: 4237px;
  left: 902px;
}
footer .text8 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 95px;
  height: 24px;
  top: 4288px;
  left: 902px;
}
footer .text9 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 67px;
  height: 24px;
  top: 4324px;
  left: 902px;
}
footer .text10 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 98px;
  height: 24px;
  top: 4360px;
  left: 902px;
}
footer .text11 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 35px;
  height: 24px;
  top: 4396px;
  left: 902px;
}
footer .text12 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  width: 93px;
  height: 24px;
  top: 4432px;
  left: 902px;
}
footer .text13 {
  position: absolute;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: center;

  width: 68px;
  height: 32px;
  top: 4237px;
  left: 1156px;
}
footer .text14 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 93px;
  height: 29px;
  top: 4283px;
  left: 1155px;
}
footer .text15 {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 146px;
  height: 29px;
  top: 4318px;
  left: 1155px;
}
